.home-nav a:hover{
    color: #df2020 !important;
}

/* #home-active .active{
    background-color: #1dded8;
} */

.nav_ul  a,li nav{
    font-size: 1.05;
    color: #000 !important;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.nav_ul ul li a:hover{
    color: #df2020;
}

.nav_ul li{
    padding: 0.0 0.9rem;
}
.shopping_cart,.user_login{
    font-size: 1rem;
    color: #212245;
    cursor: pointer;
}
.nav_icons li{
    padding: 0.0 0.9rem;
}

.cart-badge{
    position: absolute;
    top: 25px;
    background: #df2020;
    color: #fff;
    width: 15px;
    height: 18px;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    /*display: flex;
    align-items: center;
    justify-content: center;  */
}

@media (max-width: 992px) {
    .cart-badge{
        position: absolute;
        top: auto;
    }
}

